<!DOCTYPE html>
<html>
	<head>
		<title>
			Student-Management-Home
		</title>
	</head>
	<link th:href="@{/CSS/home.css}" rel="stylesheet" type="text/css">
	
	<body style="background: radial-gradient(circle, violet,indigo, aqua,green,yellow, orange,red 90%)">
		<nav class="nav">
			<div class="nav-items">
			   <a th:href="@{/}"><img th:src="@{/images/home-icon-vector.jpg}" width="20px" height="20px"></a>
			</div>
			<div class="nav-items">
			    <h1> Courses</h1>
			</div>
			<div class="nav-items">
			    <h1> About</h1>
			</div>
			<div class="nav-items">
				 <h1> contact</h1>
			</div>
			<div class="nav-items">
					<a th:href="@{/log-in}">Log-in</a>
			</div>
			
		</nav>
		<br><br><br>
		<div class="body">
			<form class="form" th:action="@{/change-password}" th:object="${admin}"  th:method="get">
				<h3>log-in</h3><hr>
				<label>Email :</label><br>
				<input type="email" name="email" placeholder="enter email" th:field="${admin.email}" id="input"><br>
				<label>Password :</label><br>
				<input type="password" name="password" placeholder="enter password" th:field="${admin.password}" id="input"><br><br>
			    <button type="submit" class="btn">Log-in</button>
			</form>
			
		</div>
		
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</body>
	
	<footer class="foot">
		<div>
			<p>@ All Rights Reserved </p>
		</div>
	</footer>
</html>